doctype html
html(lang="en")
	include head.pug
	body
		section.section.startScreen
			strong.strong Six Feet Apart
			#desc Use your cursor to move. Stay six feet apart from the spikey things and collect toilet paper.
		.centeredOverlay#startGameScreen
			button.button#startGameBtn Start Game!
		.centeredOverlay#gameOverScreen.is-hidden
			.container.has-text-centered
				h1.title#gameOverText(style="background-color: white")
				br
				button.button(onclick="window.location.reload();") Restart?
		.game
		include footer.pug
		script(src="js/all.js")
