doctype html
html(lang="en")
	include head.pug
	body
		section.section(style="position: fixed")
			strong.strong Six Feet Apart
			.overlay
				span Current score: 
				span.sessionScore
				br
				span High score: 
				span.highScore
		.game
		include footer.pug
		script(src="js/all.js")
